# Elixir
/src/elixir/_build/
/src/elixir/cover/
/src/elixir/deps/
/src/elixir/doc/
/src/elixir/.fetch
erl_crash.dump
*.ez
vizproxy-*.tar

# ELM
/src/elm/elm-stuff/

# artifacts
/src/elixir/priv/main.html
