# Elixir
/src/elixir/_build/
/src/elixir/cover/
/src/elixir/deps/
/src/elixir/doc/
/src/elixir/.fetch
erl_crash.dump
*.ez
vizproxy-*.tar

# ELM
elm-stuff/
/elm-package.json

# Python
__pycache__/

# artifacts
/src/elixir/priv/static/main.js

# misc.
*.mkv
*.sublime-project
*.sublime-workspace
